<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!-- 项目名称 -->
    <display-name>RouterWeb</display-name>
    <!-- 主页位置 -->
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
    <!-- 服务器对应的回调 -->
    <servlet>
        <servlet-name>homeServlet</servlet-name>
        <servlet-class>com.javaweb.router.servlet.HomeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homeServlet</servlet-name>
        <url-pattern>/headMessage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>routerShipServlet</servlet-name>
        <servlet-class>com.javaweb.router.servlet.RouterRelationshipServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>routerShipServlet</servlet-name>
        <url-pattern>/routerShip</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>homePageServlet</servlet-name>
        <servlet-class>com.javaweb.router.servlet.HomePageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>homePageServlet</servlet-name>
        <url-pattern>/headPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>hostServlet</servlet-name>
        <servlet-class>com.javaweb.router.servlet.HostServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hostServlet</servlet-name>
        <url-pattern>/hostMessage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>hostPageServlet</servlet-name>
        <servlet-class>com.javaweb.router.servlet.HostPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>hostPageServlet</servlet-name>
        <url-pattern>/hostPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>routerServlet</servlet-name>
        <servlet-class>com.javaweb.router.servlet.RouterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>routerServlet</servlet-name>
        <url-pattern>/routerMessage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>routerPageServlet</servlet-name>
        <servlet-class>com.javaweb.router.servlet.RouterPageServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>routerPageServlet</servlet-name>
        <url-pattern>/routerPage</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>startRouter</servlet-name>
        <servlet-class>com.javaweb.router.servlet.StartVirtualRouterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>startRouter</servlet-name>
        <url-pattern>/startAll</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>RouterMessage</servlet-name>
        <servlet-class>com.javaweb.router.servlet.StdoutVirtualRouterServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RouterMessage</servlet-name>
        <url-pattern>/router</url-pattern>
    </servlet-mapping>

</web-app>